.t-title-login {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.t-btn-login {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.t-text-login {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.t-text2-login {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.btn-properties-login {
    width: 347px;
    height: 50px;
}

.btn-color-blue {
    background: #1da1f2;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.btn-color-blue:hover {
    background: rgba(29, 161, 242, 0.5);
    border-radius: 5px;
}
.textfield-properties-login {
    width: 350px;
    height: 50px;
}
