.border-right {
    border-right: 1px solid #ddd;
}
.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}
.border-left {
    border-left: 1px solid #ddd;
}

.border-top {
    border-top: 1px solid #ddd;
}
.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}
.border-left {
    border-left: 1px solid #ddd;
}

.logo-properties {
    width: 30.27px;
    height: 24.61px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-name {
    font-size: 32px;
    color: #333333;
}
.t-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
}

a {
    color: #1da1f2;
    text-decoration: none;
}
.color-text {
    color: #333333;
}
.color-text:hover {
    color: #1da1f2;
}
.color-text:active {
    color: #1da1f2;
}
.btn-properties {
    width: 180px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}

.search-properties {
    width: 280px;
    height: 48px;
    border-radius: 100px;
    background: #e7ecf0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.trend-properties {
    left: 0px;
    top: 64px;
    position: static;
    max-height: 576px;
    max-width: 280px;
    background: #f6f8fa;
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}


.search-heigth {
    max-height: 3%;
}
.sidebar-title {
    text-align: center;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 12px 0px;
}
.more-tweets {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #1da1f2;
    text-align: center;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 12px 0px;
}
.text-count {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

.sidebar-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.sidebar-height {
    max-height: 80px;
}
.row-properties {
    max-height: 576px;
    max-width: 90%;
}

.img-icon {
    margin-top: -8px;
    width: 30.27px;
    height: 24.61px;
}
.img-user {
    margin-top: -8px;
    width: 50.27px;
    height: 44.61px;
}
